# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [2]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [3]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,beckley,37.7782,-81.1882,4.34,74,0,0.45,US,1681199752
1,1,drawsko pomorskie,53.5306,15.8097,12.72,76,100,2.24,PL,1681199753
2,2,airai,-8.9266,125.4092,19.51,90,63,0.98,TL,1681199754
3,3,busselton,-33.6500,115.3333,20.89,57,50,4.49,AU,1681199756
4,4,mataura,-46.1927,168.8643,11.38,97,83,1.15,NZ,1681199757

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [5]:
%%capture --no-display

# Configure the map plot
locations = city_data_df[["Lat", "Lng"]].astype(float)
humidity = city_data_df["Humidity"]

gmaps.configure(api_key = g_key)

# Display the map and creating a heat map
map_display = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=5)

map_display.add_layer(heat_layer)
map_display

Figure(layout=FigureLayout(height='420px'))

### Step 2: Narrow down the `city_data_df` DataFrame to find your ideal weather condition

In [6]:
# Narrow down cities that fit criteria and drop any results with null values
#city_data_df.info()

vacation_cities_df = city_data_df.loc[(city_data_df["Max Temp"] > 15)
                                    & (city_data_df["Max Temp"] < 23)
                                    & (city_data_df["Humidity"] < 60)]

# Display sample data
vacation_cities_df.head()

vacation_cities_df.shape

(34, 10)

In [7]:
vacation_cities_clean = vacation_cities_df.dropna()
vacation_cities_clean.shape

(31, 10)

In [8]:
vacation_cities_clean.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,busselton,-33.6500,115.3333,20.89,57,50,4.49,AU,1681199756
42,42,abha,18.2164,42.5053,22.14,27,20,8.23,SA,1681199806
46,46,mount gambier,-37.8333,140.7667,15.94,54,94,3.03,AU,1681199812
56,56,east london,-33.0153,27.9116,18.52,45,0,10.80,ZA,1681199822
58,58,port alfred,-33.5906,26.8910,18.99,53,39,4.92,ZA,1681199825

### Step 3: Create a new DataFrame called `hotel_df`.

In [9]:
# Use the Pandas copy function to create DataFrame called hotel_df to store the city, country, coordinates, and humidity
hotel_df = vacation_cities_clean.copy()

# Add an empty column, "Hotel Name," to the DataFrame so you can store the hotel found using the Geoapify API
# Display sample data

hotel_df["Hotel Name"] =""
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
3,3,busselton,-33.6500,115.3333,20.89,57,50,4.49,AU,1681199756,
42,42,abha,18.2164,42.5053,22.14,27,20,8.23,SA,1681199806,
46,46,mount gambier,-37.8333,140.7667,15.94,54,94,3.03,AU,1681199812,
56,56,east london,-33.0153,27.9116,18.52,45,0,10.80,ZA,1681199822,
58,58,port alfred,-33.5906,26.8910,18.99,53,39,4.92,ZA,1681199825,
62,62,bredasdorp,-34.5322,20.0403,16.35,58,74,2.28,ZA,1681199829,
111,111,saint george,37.1041,-113.5841,17.33,34,0,1.54,US,1681199887,
171,171,beyneu,45.3167,55.2000,19.91,30,100,2.34,KZ,1681199960,
175,175,dasoguz,41.8363,59.9666,17.97,55,0,4.12,TM,1681199965,
195,195,port elizabeth,-33.9180,25.5701,19.50,52,0,9.26,ZA,1681199988,
219,219,zhezkazgan,47.8043,67.7144,15.99,20,20,7.00,KZ,1681200051,
236,236,codrington,-38.2667,141.9667,16.18,57,100,3.31,AU,1681200072,
237,237,agadir,30.4202,-9.5982,18.25,44,0,1.11,MA,1681200020,
242,242,sonoita,31.8500,-112.8333,22.44,22,0,0.81,MX,1681200081,
252,252,sayyan,15.1718,44.3244,19.83,32,2,0.62,YE,1681200094,
310,310,san juan,-31.5375,-68.5364,20.73,58,100,1.69,AR,1681200093,
320,320,miyako,39.6367,141.9525,16.16,54,100,3.09,JP,1681200180,
327,327,ponta do sol,32.6667,-17.1000,21.51,59,4,2.68,PT,1681200190,
333,333,waddan,29.1614,16.1390,16.60,34,0,5.80,LY,1681200198,
357,357,ada,43.4166,-116.1262,16.34,50,0,6.17,US,1681200231,
369,369,awbari,26.5921,12.7805,19.70,17,68,0.31,LY,1681200246,
378,378,nador,35.1740,-2.9287,22.14,30,0,0.51,MA,1681200257,
399,399,leeton,-34.5667,146.4000,17.16,47,100,1.11,AU,1681200282,
412,412,matay,28.4190,30.7792,20.73,33,33,3.64,EG,1681200297,
455,455,rosetta,31.4044,30.4164,17.94,58,0,7.47,EG,1681200354,
462,462,general pico,-35.6566,-63.7568,21.07,56,100,5.37,AR,1681200362,
472,472,luino,46.0019,8.7451,16.29,59,20,0.51,IT,1681200377,
478,478,surt,31.2089,16.5887,16.88,54,9,11.51,LY,1681200384,
510,510,sabha,27.0377,14.4283,18.81,18,42,2.13,LY,1681200421,
529,529,jalu,29.0331,21.5482,17.46,43,3,8.60,LY,1681200443,
538,538,jinchang,38.4953,102.1739,17.36,18,0,4.46,CN,1681200453,

### Step 4: For each city, use the Geoapify API to find the first hotel located within 10,000 metres of your coordinates.

In [14]:
# Set parameters to search for a hotel
parameters = {"radius" : 5000, "types" : "hotel", "keyword" : "hotels", "key" : g_key}

# Print a message to follow up the hotel search
print("Starting hotel search")

# Iterate through the hotel_df DataFrame
for x, row in hotel_df.iterrows():
    # get latitude, longitude from the DataFrame
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    latitude = row["Lat"]
    longitude = row["Lng"]
    params["location"] = str(latitude) + "," + str(longitude)
    hotel_name = requests.get(url, params=parameters).json()
    
    # Grab the first hotel from the results and store the name in the hotel_df DataFrame
    try:
        hotel_df.loc[x, "Hotel Name"] = hotel_name["results"][0]["name"]
    except:
        # If no hotel is found, set the hotel name as "No hotel found".
        hotel_df.loc[x, "Hotel Name"] = "N/A"
        print("No hotels near " + str(row["City"]))
        
    # Log the search results
    print(f"{hotel_df.loc[x, 'City']} - nearest hotel: {hotel_df.loc[x, 'Hotel Name']}")

# Display sample data
hotel_df


# My Google Maps API is not working for some reason, so not hotels are coming up. 
# Unsure how to fix it at this time>

Starting hotel search
No hotels near busselton
busselton - nearest hotel: N/A
No hotels near abha
abha - nearest hotel: N/A
No hotels near mount gambier
mount gambier - nearest hotel: N/A
No hotels near east london
east london - nearest hotel: N/A
No hotels near port alfred
port alfred - nearest hotel: N/A
No hotels near bredasdorp
bredasdorp - nearest hotel: N/A
No hotels near saint george
saint george - nearest hotel: N/A
No hotels near beyneu
beyneu - nearest hotel: N/A
No hotels near dasoguz
dasoguz - nearest hotel: N/A
No hotels near port elizabeth
port elizabeth - nearest hotel: N/A
No hotels near zhezkazgan
zhezkazgan - nearest hotel: N/A
No hotels near codrington
codrington - nearest hotel: N/A
No hotels near agadir
agadir - nearest hotel: N/A
No hotels near sonoita
sonoita - nearest hotel: N/A
No hotels near sayyan
sayyan - nearest hotel: N/A
No hotels near san juan
san juan - nearest hotel: N/A
No hotels near miyako
miyako - nearest hotel: N/A
No hotels near ponta do sol
ponta do sol - nearest hotel: N/A
No hotels near waddan
waddan - nearest hotel: N/A
No hotels near ada
ada - nearest hotel: N/A
No hotels near awbari
awbari - nearest hotel: N/A
No hotels near nador
nador - nearest hotel: N/A
No hotels near leeton
leeton - nearest hotel: N/A
No hotels near matay
matay - nearest hotel: N/A
No hotels near rosetta
rosetta - nearest hotel: N/A
No hotels near general pico
general pico - nearest hotel: N/A
No hotels near luino
luino - nearest hotel: N/A
No hotels near surt
surt - nearest hotel: N/A
No hotels near sabha
sabha - nearest hotel: N/A
No hotels near jalu
jalu - nearest hotel: N/A
No hotels near jinchang
jinchang - nearest hotel: N/A

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
3,3,busselton,-33.6500,115.3333,20.89,57,50,4.49,AU,1681199756,N/A
42,42,abha,18.2164,42.5053,22.14,27,20,8.23,SA,1681199806,N/A
46,46,mount gambier,-37.8333,140.7667,15.94,54,94,3.03,AU,1681199812,N/A
56,56,east london,-33.0153,27.9116,18.52,45,0,10.80,ZA,1681199822,N/A
58,58,port alfred,-33.5906,26.8910,18.99,53,39,4.92,ZA,1681199825,N/A
62,62,bredasdorp,-34.5322,20.0403,16.35,58,74,2.28,ZA,1681199829,N/A
111,111,saint george,37.1041,-113.5841,17.33,34,0,1.54,US,1681199887,N/A
171,171,beyneu,45.3167,55.2000,19.91,30,100,2.34,KZ,1681199960,N/A
175,175,dasoguz,41.8363,59.9666,17.97,55,0,4.12,TM,1681199965,N/A
195,195,port elizabeth,-33.9180,25.5701,19.50,52,0,9.26,ZA,1681199988,N/A
219,219,zhezkazgan,47.8043,67.7144,15.99,20,20,7.00,KZ,1681200051,N/A
236,236,codrington,-38.2667,141.9667,16.18,57,100,3.31,AU,1681200072,N/A
237,237,agadir,30.4202,-9.5982,18.25,44,0,1.11,MA,1681200020,N/A
242,242,sonoita,31.8500,-112.8333,22.44,22,0,0.81,MX,1681200081,N/A
252,252,sayyan,15.1718,44.3244,19.83,32,2,0.62,YE,1681200094,N/A
310,310,san juan,-31.5375,-68.5364,20.73,58,100,1.69,AR,1681200093,N/A
320,320,miyako,39.6367,141.9525,16.16,54,100,3.09,JP,1681200180,N/A
327,327,ponta do sol,32.6667,-17.1000,21.51,59,4,2.68,PT,1681200190,N/A
333,333,waddan,29.1614,16.1390,16.60,34,0,5.80,LY,1681200198,N/A
357,357,ada,43.4166,-116.1262,16.34,50,0,6.17,US,1681200231,N/A
369,369,awbari,26.5921,12.7805,19.70,17,68,0.31,LY,1681200246,N/A
378,378,nador,35.1740,-2.9287,22.14,30,0,0.51,MA,1681200257,N/A
399,399,leeton,-34.5667,146.4000,17.16,47,100,1.11,AU,1681200282,N/A
412,412,matay,28.4190,30.7792,20.73,33,33,3.64,EG,1681200297,N/A
455,455,rosetta,31.4044,30.4164,17.94,58,0,7.47,EG,1681200354,N/A
462,462,general pico,-35.6566,-63.7568,21.07,56,100,5.37,AR,1681200362,N/A
472,472,luino,46.0019,8.7451,16.29,59,20,0.51,IT,1681200377,N/A
478,478,surt,31.2089,16.5887,16.88,54,9,11.51,LY,1681200384,N/A
510,510,sabha,27.0377,14.4283,18.81,18,42,2.13,LY,1681200421,N/A
529,529,jalu,29.0331,21.5482,17.46,43,3,8.60,LY,1681200443,N/A
538,538,jinchang,38.4953,102.1739,17.36,18,0,4.46,CN,1681200453,N/A

### Step 5: Add the hotel name and the country as additional information in the hover message for each city in the map.

In [ ]:
%%capture --no-display

# Configure the map plot
# YOUR CODE HERE

# Display the map
# YOUR CODE HERE